<h1> Answer 1</h1>

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
>>> b()
>>> b()
>>> b()
>>> a

6

The value displayed will be 6, because a has been updated three times by calling b(), and each time a was increased by 2. So, a ends up being 6.

<h1> Answer 2</h1>

In [3]:
def fileLength(filename):
    try:
        infile = open(filename)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print("File", filename, "not found.")

fileLength('midterm.py')
fileLength('idterm.py')

File midterm.py not found.
File idterm.py not found.

<h1> Answer 3</h1>

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

In [5]:
# Testing Marsupial class
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [6]:
# Testing Kangaroo subclass
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

<h1> Answer 4</h1>

In [7]:
def collatz(num):
    
    if num== 1:
        print(int(num))
        
    elif num%2 == 0:
            print(int(num))
            return collatz(num/2)
            
    else:
            print(int(num))
            collatz((3*num) + 1)
            
collatz(10)

10
5
16
8
4
2
1

<h1> Answer 5</h1>

In [8]:
def binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return binary(n // 2) + str(n % 2)

# Test cases
print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1001

<h1> Answer 6</h1>

In [9]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2:
            self.in_heading = True
            self.heading_level = int(tag[1])

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(' ' * (self.heading_level - 1) + data.strip())

In [10]:
infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

<h1> Answer 7</h1>

In [11]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    # Fetch the HTML content of the URL
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Print the current URL with appropriate indentation
        print(" " * indent + url)
        
        # Check if we reached the maximum depth
        if depth == 0:
            return
        
        # Find all links on the current page
        links = soup.find_all('a', href=True)
        for link in links:
            next_url = link['href']
            
            # Ensure the next URL is absolute
            if not next_url.startswith('http'):
                next_url = url + next_url
                
            # Recursively call webdir with the next URL
            webdir(next_url, depth - 1, indent + 1)

# Test
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

<h1> Answer 8</h1>

In [24]:
import sqlite3

In [30]:
import sqlite3
con = sqlite3.connect('DBfile.db')
cur = con.cursor()
cur.execute("CREATE TABLE record (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO record VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
cur.execute("INSERT INTO record VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO record VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO record VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO record VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO record VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO record VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO record VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO record VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO record VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO record VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO record VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

<h2> a</h2>

In [31]:
cur.execute('SELECT temperature FROM record')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

<h2> b</h2>

In [32]:
cur.execute('SELECT DISTINCT City FROM record')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

<h2> c</h2>

In [33]:
cur.execute("SELECT * FROM record WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

<h2>d</h2>

In [34]:
cur.execute("SELECT * FROM record WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

<h2>e</h2>

In [35]:
cur.execute("SELECT City,country,Season FROM record WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

<h2>f</h2>

In [36]:
cur.execute("SELECT City,country FROM record WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

<h2>g</h2>

In [37]:
cur.execute("SELECT SUM(Rainfall) FROM record WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

<h2>h</h2>

In [39]:
cur.execute("SELECT SUM(Rainfall) FROM record GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

<h1> Answer 9</h1>

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<h2>a</h2>

In [45]:
print([x.upper() for x in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<h2>b</h2>

In [47]:
print([x.lower() for x in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<h2>c</h2>

In [48]:
print([len(x) for x in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<h2>d</h2>

In [50]:
print([[x.upper(), x.lower(), len(x)] for x in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

<h2>e</h2>

In [51]:
print([x for x in words if len(x)>=4])

['quick', 'brown', 'jumps', 'over', 'lazy']